body{
    
      font-family: "Meiryo UI";
      background-color: #f5f5f5;
 }
.my-container{
     background-color: white;
     border: solid 1px gray;
     max-width: 900px;
     padding-bottom:50px;
    }
.my-h4{
    background-color: #f5f5f5;
    padding-left: 10px;
    margin:0 auto;
    border-left: solid 6px #343a40;
    border-bottom: solid 1px #343a40;
    text-align:left;
}
#result1{
    width:340px;
    margin:0 auto;
}
#result2{
    width:340px;
    margin:0 auto;
}
#result3{
    width:340px;
    margin:0 auto;
}
#result4{
    width:340px;
    margin:0 auto;
}
#total{
    text-align:center;
}
#DLpart{
    text-align:center;
}
.my-form{
    text-align:center;
}
#introp{
}
.my-input{
    display:inline;
    margin:0 auto;
    width:100px;
 
}
#CnNG{
    color:red;
}

#CnOK{
    color:green;
}
.my-dropdown{
    width:140px;
    
}

#btnarea{
    margin-top:30px;
}
#Gearform{
}
.my-h5{
    margin-bottom:20px;
    border-bottom: solid 1px #343a40;
}
